@page
@model KontaktModel
@{
    ViewData["Title"] = "Kontakt Info";
}
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>IBAS-Menu Kontakt Info:</h1>

<table>
  <tr>
    <th>Fuldenavn:</th>
    <th>E-mail:</th>
    <th>Telefon nr:</th>
  </tr>
  <tr>
    <td>Karen Jensen</td>
    <td>KJ@IBAS.com</td>
    <td>89685525</td>
  </tr>
</table>

</body>
</html>

